@use 'partials/variables' as *;
@use 'partials/mixins' as *;
@use 'partials/fonts' as *;

* {
    box-sizing: border-box;
}

body {
    
    font-family: AvenirNext LT Pro;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    
}

// site-header

.header{
    background-color: $primary-color;
    width: 100%;

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;

        @include tablet {
            flex-direction: row;
            gap: 4rem;
        }
    }

    &__nav {
        width: 100%;
    }

    &__list {
        display: flex;
        padding: 0;
        margin: 0;
        width: 100%;
        list-style: none;
        font-size: 0.875rem;      

        @include tablet {
            gap: 2rem;            
        }
    }

    &__item {
        width: 50%;
        text-align: center;

        @include tablet {
            width: 5rem;
            @include padding (1rem,0,1rem,0);

        }

        @include desktop {
            @include padding (1.5rem,0,1.5rem,0);

        }
        

        &--current {
            border-bottom: .15rem solid white; 
            
            @include tablet {
                width: fit-content;
            }           
        }
    }

    &__link {
        color: $secondary-color;
        @include padding (0.5rem,0,0.5rem,0);
        text-decoration: none;
        display: inline-block;     
        
        &--current {
            color: white;
            font-weight: 600;            
        }
    } 
   
    
}

// logo

.logo {
    padding-top: 1rem;
    display: inline-block;
    

    &__img {
        max-width: 7.5rem;
        max-height: 1.25rem;        
    }
    

    @include tablet {
        @include padding (0,0,0,2rem);
        
    }

    @include desktop{
        @include padding (0,0,0,8rem);
    }

}


// banner

.banner {
    
    background-image: url(../assets/images/hero-bio.jpg); 
    @include background;  
    display: flex;
    align-items: center;
    justify-content: flex-start ;
    padding-bottom: 2rem;
    
    

    &__title {
        color: white;
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 600;
        padding-left: 1rem;
        margin-top: 5rem;

        @include tablet {
            font-size: 3.75rem;
            line-height: 2.75rem;
            padding-left: 2rem;
        }

        @include desktop {
            font-size: 4rem;
            padding-left: 8rem;
        }
    }
}

// intro 

.intro {

    font-weight: 600;
    @include padding (0,1rem,1rem,1rem);

    @include tablet {
        @include padding (0,2rem,0,2rem);
    }

    @include desktop {
        @include padding (0,8rem,0,8rem);
    }

    &__title {
        font-size: 1.5rem;        
        @include padding (1.5rem,0rem,1rem,0rem);
        color: $primary-color;

        @include tablet {
            font-size: 2.25rem;
            @include padding (3rem,0rem,2.25rem,0rem);
        }

        @include desktop {
            font-size: 2.5rem;
        }
        
    }

    &__img {
        
        width: 100%;
        height: 20vh;
        margin: 0 auto;
        object-fit: cover;

        @include tablet {
            height: 40vh;
            @include padding (0rem,4rem,0rem,4rem);
        }

        @include desktop {
            height: 60vh;
            @include padding (0rem,6rem,0rem,6rem);          

        }
        
    }

    &__list {
        font-size: 0.875rem ;
        font-weight: 600;
        line-height: 1.375rem;
        color: $primary-color;

        @include tablet {
            font-size: 1rem;
            @include padding (0rem,2rem,0rem,2rem);


            &--top {
                font-size: 1.40rem;
                line-height: 2rem;

                @include desktop {
                    font-size: 1.5rem;
                    padding-top: 1rem;
                }
    
            }
        }

        @include desktop {
            width: 52rem;
            @include padding (0rem,3rem,0rem,3rem);
            
            &--bottom {
                font-size: 1.15rem;
            }

        }

    }
}

// main text

.main {
    @include padding (0rem,1rem,0rem,1rem);

    @include tablet {  
        @include padding (0rem,6rem,0rem,6rem);   
    }

    @include desktop {
        @include padding (0rem,14rem,0rem,14rem);
    }


    &__title {
        margin-top: 0;
        font-size: 0.875rem;
        font-weight: 600;
        color: $primary-color;

        @include tablet {
            font-size: 1.5rem;
            margin-bottom: 0;
            padding-top: 1rem;
        }
    }

    &__container {
        @include tablet {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            gap: 1.25rem;    
            padding-bottom: 1rem;       
        }
    }

    &__description {
        font-size: 0.8125rem;
        font-weight: 400;

        @include tablet {
            font-size: 0.875rem;
            line-height: 1.5rem;         
        }

        @include desktop {
            font-size: 0.975rem;
        }
    }
}


// gallery


.img {
    background-color: rgba(192, 192, 192, 0.1);
    
    &__title {
        font-size: 1.5rem;
        font-weight: 600;
        margin: 0;
        color: $primary-color;
        @include padding (1rem,0,1rem,1rem);

        @include tablet {
            font-size: 2.25rem;
            @include padding (3rem,0,2rem,2rem);
        }

        @include desktop {
            font-size: 2.5rem;
            @include padding (0,0,7.5rem,3rem);
        }
    }

    &__grid {

        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        gap: 1rem;
        justify-content: center;
        @include padding (0,1rem,1rem,1rem);

        @include tablet {
            gap: 1.5rem;
            padding-bottom: 2rem;
        }

        @include desktop {
            @include padding (0,5.5rem,3rem,5.5rem);
        }
    }

    &__list {
        margin: 0;
        padding: 0; 

        @include tablet {
           max-width: 30%;
           max-height:50%;
        }
    }
}

//comment section

.comment {
    @include padding (1rem,1rem,0rem,1rem);

    @include tablet {
        @include padding (3rem,2rem,0rem,2rem);
    }

    @include desktop {
        padding-left: 7.5rem;
    }

    
    &__title {
        font-size: 1.5rem;
        font-weight: 600;
        color: $primary-color;
        padding-bottom: 1rem;

        @include tablet {
            font-size: 2.25rem;
            padding-bottom: 2rem;
        }
    }

    &__form {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        border-bottom: 1px solid $primary2-color;
        padding-bottom: 1rem;
        gap: 1.375rem;
        
        @include tablet {
            width: 80%;
            margin-left: 4rem;    
            padding-bottom: 1.5rem;  
            gap: 0.5rem;
            
        }
    
        @include desktop {
            width: 44%;
            margin-left: 17rem;
            gap: 0.75rem;
        }
    
    }

    &__header {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding-top: 1.25rem;
        width: 2.75rem;

        @include tablet {
            width: 3.5rem;
        }

        &--list {
            padding-top: 0;
        }
        
    }

    &__img {
        width: 2.25rem;
        height: 2.25rem;
        border-radius: 50%;
        max-width: 100%;
        object-fit: cover;
        object-position: left;
        background-color: $secondary-color;

        @include tablet {
            height: 3rem;
            width: 3rem;
        }
    }

    &__wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;

    }

    &__label {
        font-size: 0.625rem;
        font-weight: 600;
        color: $primary2-color;
        text-transform: uppercase;
        padding-bottom: 0.25rem;

        @include tablet {
            font-size: 0.825rem;
        }
    }

    &__input {
        padding: 0.65rem;
        border: 1.5px solid rgba(192, 192, 192, 0.5);
        border-radius: 0.25rem;
        font-size: 0.725rem;
        font-weight: 500;
        background-color: #fafafa;
        -webkit-border-radius: 0.25rem;
        -moz-border-radius: 0.25rem;
        -ms-border-radius: 0.25rem;
        -o-border-radius: 0.25rem;
        margin-bottom: 1.5rem;
       

        @include tablet {
            padding: 0.85rem;
            font-size: 0.85rem;
        }

        &--comment {
            @include padding (0.65rem,0.65rem,4rem,0.65rem);
            border: 1.5px solid rgba(192, 192, 192, 0.5);
            border-radius: 0.25rem;
            font-size: 0.725rem;
            font-weight: 500;
            background-color: #fafafa;
            margin-bottom: 1rem;
            

            @include tablet {
            font-size: 0.85rem;
            margin-bottom: 1.5rem;
            
            }

        }

        &--comment::placeholder {
            color: $primary-color;
            width: 100%;
            height: auto;
        }
    }

    &__input::placeholder {
        color: $primary-color;
    }

    &__btn {
        display: flex;
        justify-content: flex-end;
    }

    &__button {
        @include commentButton;
  
        &:hover {
          background-color: #000;
        }

        @include tablet {
            max-width: 150px;
        }
    }

    &__section {
        padding-left: 0;
    }

    &__item {
        font-size: 0.875rem;
        font-weight: 400;
        list-style: none;
        margin: 0;

        &--list {
            display: flex;
            justify-content: space-between;
            padding-top: 1rem;
            border-bottom: 1px solid $primary2-color;
            gap: 1.375rem;

            @include tablet {
                width: 80%;
                margin-left: 4rem; 
                @include padding (2rem,0rem,1.5rem,0rem);
                gap: 0.5rem;                
            }

            @include desktop {
                width: 44%;
                margin-left: 17rem;
                gap: 0.75rem;
                padding-bottom: 0.5rem;
            }
        }
       
    }    

    &__name {
        
        font-weight: 700;
        margin: 0;
    }

    &__date {
        color: $primary2-color;
        margin: 0;
        
    }

    &__content {
        font-weight: 600;
        line-height: 1.125rem;
        width: 100% auto;

        @include desktop {
            line-height: 1.375rem ;
        }
    }

    &__top {
        font-size: 0.8125rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }
}


// footer 

.footer {
    background-color: $primary-color;
    color: white;
    margin-top: 1rem;
    @include padding (2rem,1rem,1rem,1rem);

    @include tablet {
        @include padding (3rem,2rem,2rem,2rem);
        margin-top: 2rem;
    }

    @include desktop {
        @include padding (4rem,2rem,2rem,8rem);
    }

    &__intro {
        font-size: 1.5rem; 
        font-weight: 600;

        @include tablet {
            font-size: 2.25rem;
            display: flex;
            align-items: center;
            gap: 2rem;
        }

        @include desktop {
            gap: 4rem;
        } 
    }

    &__title {
        padding-bottom: 1rem;

        @include tablet {
            padding: 0;
        }
    }

    &__icons {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        width: 8rem;
        
    }


    &__img {
        
        height: 1.5rem;
    }

    &__outro{

        @include tablet {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 95%;
        }

        @include desktop {
            width: 70%;
        }

    }
    

    &__list {
        padding-top: 2rem;

        @include desktop {
                padding-top: 3rem;
        }
    }

    &__items {
        font-size: 0.8125rem;
        font-weight: 400;
        margin: 0;
        padding: 0;

        @include tablet {
            font-size: 0.875rem;
            line-height: 1.25rem;
        }

        @include desktop {
            font-size: 1rem;
        }

        &--bold {
            font-weight: 600;
            
        }

        &--info {
            padding-top: 1rem;

            @include desktop {
                padding-top: 2rem;
            }
        }

        &--email {
            padding-top: 1rem;

            @include desktop {
                padding-top: 2rem;
            }
        }   
    } 

    &__logo {
        padding-top: 3.5rem;

        @include tablet {
            padding: 0;
            position: relative;
            bottom: 12rem;
            left: 36.5rem;
        }

        @include desktop {
            bottom: 15rem;
            left: 56.75rem;
        }
    }

    &__description {
        font-size: .7rem;
        padding-top: 1rem;

        @include tablet {
            font-size: 0.85rem;
        }

        @include desktop {
            font-size: 1rem;
            @include padding (2rem,0rem,1rem,0rem);
        }
    }
}
