@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Demi.woff") format("woff"), url("../assets/fonts/AvenirNextLTPro-Demi.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Regular.woff") format("woff"), url("../assets/fonts/AvenirNextLTPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Bold.woff") format("woff"), url("../assets/fonts/AvenirNextLTPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
* {
  box-sizing: border-box;
}

body {
  font-family: AvenirNext LT Pro;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

.site-header {
  background-color: #323232;
  width: 100%;
}
.site-header__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .site-header__wrapper {
    flex-direction: row;
    gap: 4rem;
  }
}

.logo {
  padding-top: 1rem;
  display: inline-block;
}
.logo__img {
  max-width: 7.5rem;
  max-height: 1.25rem;
}
@media screen and (min-width: 768px) {
  .logo {
    padding: 0;
    padding-left: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .logo {
    padding-left: 8rem;
  }
}

.primary-nav {
  width: 100%;
}
.primary-nav__list {
  display: flex;
  padding: 0;
  margin: 0;
  width: 100%;
  list-style: none;
  font-size: 0.875rem;
}
@media screen and (min-width: 768px) {
  .primary-nav__list {
    gap: 2rem;
  }
}
.primary-nav__item {
  width: 50%;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .primary-nav__item {
    width: 5rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .primary-nav__item {
    padding-bottom: 2rem;
    padding-top: 2rem;
  }
}
.primary-nav__item--current {
  border-bottom: 0.15rem solid white;
}
@media screen and (min-width: 768px) {
  .primary-nav__item--current {
    width: -moz-fit-content;
    width: fit-content;
  }
}
.primary-nav__link {
  color: #E1E1E1;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-decoration: none;
  display: inline-block;
}
.primary-nav__link--current {
  color: white;
  font-weight: 600;
}

.banner {
  background-image: url(../assets/images/hero-bio.jpg);
  background-color: rgba(0, 0, 0, 0.473);
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 2rem;
  width: 100%;
  margin: 0 auto;
  aspect-ratio: 16/9;
}
@media screen and (min-width: 768px) {
  .banner {
    height: 50vh;
  }
}
@media screen and (min-width: 1280px) {
  .banner {
    height: 80vh;
  }
}
.banner__title {
  color: white;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  padding-left: 1rem;
  margin-top: 5rem;
}
@media screen and (min-width: 768px) {
  .banner__title {
    font-size: 3.75rem;
    line-height: 2.75rem;
    padding-left: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .banner__title {
    font-size: 4rem;
    padding-left: 8rem;
  }
}

.intro {
  font-weight: 600;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .intro {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .intro {
    padding-left: 8rem;
    padding-right: 8rem;
  }
}
.intro__title {
  font-size: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  color: #323232;
}
@media screen and (min-width: 768px) {
  .intro__title {
    font-size: 2.25rem;
    padding-top: 3rem;
    padding-bottom: 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .intro__title {
    font-size: 2.5rem;
  }
}
.intro__img {
  width: 100%;
  height: 20vh;
  margin: 0 auto;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 768px) {
  .intro__img {
    height: 40vh;
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
@media screen and (min-width: 1280px) {
  .intro__img {
    height: 60vh;
    padding-left: 6rem;
    padding-right: 6rem;
  }
}
.intro__sub {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.375rem;
  color: #323232;
}
@media screen and (min-width: 768px) {
  .intro__sub {
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 1rem;
  }
  .intro__sub--description {
    font-size: 1.4rem;
    line-height: 2rem;
  }
}
@media screen and (min-width: 768px) and (min-width: 1280px) {
  .intro__sub--description {
    font-size: 1.5rem;
    padding-top: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .intro__sub {
    padding-left: 3rem;
    padding-right: 3rem;
    width: 52rem;
  }
  .intro__sub--description2 {
    font-size: 1.15rem;
  }
}

.main {
  padding-left: 1rem;
  padding-right: 1rem;
}
@media screen and (min-width: 768px) {
  .main {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}
@media screen and (min-width: 1280px) {
  .main {
    padding-left: 14rem;
    padding-right: 14rem;
  }
}
.main__title {
  margin-top: 0;
  font-size: 0.875rem;
  font-weight: 600;
  color: #323232;
}
@media screen and (min-width: 768px) {
  .main__title {
    font-size: 1.5rem;
    margin-bottom: 0;
    padding-top: 1rem;
  }
}
@media screen and (min-width: 768px) {
  .main__description--box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 1.25rem;
    padding-bottom: 1rem;
  }
}
.main__description {
  font-size: 0.8125rem;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .main__description {
    font-size: 0.875rem;
    line-height: 1.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .main__description {
    font-size: 0.975rem;
  }
}

.img {
  background-color: rgba(192, 192, 192, 0.1);
}
.img__title {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
  padding-top: 1rem;
  color: #323232;
  padding-left: 1rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .img__title {
    font-size: 2.25rem;
    padding-left: 2rem;
    padding-bottom: 2rem;
    padding-top: 3rem;
  }
}
@media screen and (min-width: 1280px) {
  .img__title {
    font-size: 2.5rem;
    padding-bottom: 3rem;
    padding-left: 7.5rem;
  }
}
.img__grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 1rem;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .img__grid {
    gap: 1.5rem;
    padding-bottom: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .img__grid {
    padding-left: 5.5rem;
    padding-right: 5.5rem;
    padding-bottom: 3rem;
  }
}
.img__list {
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .img__list {
    max-width: 30%;
    max-height: 50%;
  }
}

.comment {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
}
.comment__title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #323232;
  padding-bottom: 1rem;
}
.comment__section {
  font-size: 0.875rem;
  font-weight: 400;
}
.comment__box {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  border-bottom: 1px solid silver;
}
.comment__item {
  font-size: 0.8125rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 85%;
}
.comment__name {
  font-weight: 700;
  margin: 0;
}
.comment__date {
  color: #E1E1E1;
  margin: 0;
}
.comment__content {
  font-weight: 600;
  line-height: 18px;
}
.comment__img {
  width: 2.25rem;
  height: 2.25rem;
  background-color: #e1e1e1;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.comment-box {
  display: flex;
  flex-wrap: wrap;
}
.comment-box__name {
  color: silver;
  display: flex;
  padding-bottom: 0.25rem;
  text-transform: uppercase;
  font-size: 0.65rem;
  font-weight: 600;
  height: 25%;
  flex-direction: column;
}
.comment-box__input {
  padding: 0.5rem;
  text-align: left;
  width: 85%;
  background-color: rgba(225, 225, 225, 0.3137254902);
  border: 1px solid #e1e1e1;
  border-color: #E1E1E1;
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
}
.comment-box__input::-moz-placeholder {
  color: #323232;
}
.comment-box__input::placeholder {
  color: #323232;
}
.comment-box__img {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.footer {
  background-color: #323232;
  color: white;
  padding: 1rem;
  padding-top: 2rem;
  margin-top: 1rem;
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 2rem;
    padding-top: 3rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    padding-left: 8rem;
    padding-top: 4rem;
  }
}
.footer__intro {
  font-size: 1.5rem;
  font-weight: 600;
}
.footer__intro--title {
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .footer__intro--title {
    padding: 0;
  }
}
@media screen and (min-width: 768px) {
  .footer__intro {
    font-size: 2.25rem;
    display: flex;
    align-items: center;
    gap: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__intro {
    gap: 4rem;
  }
}
.footer__icons {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  width: 8rem;
  height: 1.5rem;
}
@media screen and (min-width: 768px) {
  .footer__outro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
  }
}
@media screen and (min-width: 1280px) {
  .footer__outro {
    width: 70%;
  }
}
.footer__outro--list {
  padding-top: 2rem;
}
@media screen and (min-width: 1280px) {
  .footer__outro--list {
    padding-top: 3rem;
  }
}
.footer__outro--items {
  font-size: 0.8125rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .footer__outro--items {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__outro--items {
    font-size: 1rem;
  }
}
.footer__outro--bold {
  font-weight: 600;
}
.footer__outro--info {
  padding-top: 1rem;
}
@media screen and (min-width: 1280px) {
  .footer__outro--info {
    padding-top: 2rem;
  }
}
.footer__outro--email {
  padding-top: 1rem;
}
@media screen and (min-width: 1280px) {
  .footer__outro--email {
    padding-top: 2rem;
  }
}
.footer__logo {
  padding-top: 3.5rem;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    padding: 0;
    position: relative;
    bottom: 12rem;
    left: 36.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__logo {
    bottom: 15rem;
    left: 56.75rem;
  }
}
.footer__description {
  font-size: 0.7rem;
  padding-top: 1rem;
}
@media screen and (min-width: 768px) {
  .footer__description {
    font-size: 0.85rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__description {
    padding-top: 2rem;
    font-size: 1rem;
    padding-bottom: 1rem;
  }
}/*# sourceMappingURL=bio.css.map */