@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Demi.woff") format("woff"), url("../assets/fonts/AvenirNextLTPro-Demi.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Regular.woff") format("woff"), url("../assets/fonts/AvenirNextLTPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Bold.woff") format("woff"), url("../assets/fonts/AvenirNextLTPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
* {
  box-sizing: border-box;
}

body {
  font-family: AvenirNext LT Pro;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

.header {
  background-color: #323232;
  width: 100%;
}
.header__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .header__wrapper {
    flex-direction: row;
    gap: 4rem;
  }
}
.header__nav {
  width: 100%;
}
.header__list {
  display: flex;
  padding: 0;
  margin: 0;
  width: 100%;
  list-style: none;
  font-size: 0.875rem;
}
@media screen and (min-width: 768px) {
  .header__list {
    gap: 2rem;
  }
}
.header__item {
  width: 50%;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .header__item {
    width: 5rem;
    padding: 1rem 0rem 1rem 0rem;
  }
}
@media screen and (min-width: 1280px) {
  .header__item {
    padding: 1.5rem 0rem 1.5rem 0rem;
  }
}
.header__item--current {
  border-bottom: 0.15rem solid white;
}
@media screen and (min-width: 768px) {
  .header__item--current {
    width: -moz-fit-content;
    width: fit-content;
  }
}
.header__link {
  color: #e1e1e1;
  text-decoration: none;
  display: inline-block;
  padding: 0.5rem 0rem 0.5rem 0rem;
}
.header__link--current {
  color: white;
  font-weight: 600;
}

.logo {
  padding-top: 1rem;
  display: inline-block;
}
.logo__img {
  max-width: 7.5rem;
  max-height: 1.25rem;
}
@media screen and (min-width: 768px) {
  .logo {
    padding: 0rem 0rem 0rem 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .logo {
    padding: 0rem 0rem 0rem 8rem;
  }
}

.banner {
  background-image: url(../assets/images/hero-shows.jpg);
  background-color: rgba(0, 0, 0, 0.473);
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  aspect-ratio: 16/9;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .banner {
    flex-direction: row;
    height: 60vh;
  }
}
@media screen and (min-width: 1280px) {
  .banner {
    height: 80vh;
    flex-wrap: nowrap;
  }
}
.banner__header {
  color: white;
  padding-left: 1rem;
}
.banner__header--desp2 {
  font-size: 0.875rem;
  font-weight: 400;
  padding-top: 1.25rem;
}
@media screen and (min-width: 768px) {
  .banner__header--desp2 {
    padding-left: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
  }
}
@media screen and (min-width: 1280px) {
  .banner__header--desp2 {
    padding-left: 6rem;
  }
}
.banner__header--desp1 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  width: 70%;
}
@media screen and (min-width: 768px) {
  .banner__header--desp1 {
    width: 80%;
    font-size: 3.75rem;
    line-height: 4.25rem;
    padding-left: 1rem;
    margin: 0;
  }
}
@media screen and (min-width: 1280px) {
  .banner__header--desp1 {
    font-size: 4rem;
    width: 90%;
    padding: 0rem 0rem 5.5rem 6rem;
  }
}
.banner__audio {
  width: 100%;
  height: 5.75rem;
  padding: 0rem 0.5rem 0rem 0.5rem;
}
@media screen and (min-width: 768px) {
  .banner__audio {
    width: 75%;
    height: 8rem;
    padding: 0rem 0rem 0rem 1rem;
  }
}

@media screen and (min-width: 1280px) {
  .main {
    display: flex;
  }
}
.main__title {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: capitalize;
  padding: 1rem 0rem 0.75rem 1rem;
}
@media screen and (min-width: 768px) {
  .main__title {
    font-size: 2.25rem;
    padding: 3rem 0rem 0.75rem 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .main__title {
    width: 20%;
  }
}
@media screen and (min-width: 1280px) {
  .main__container {
    width: 75%;
    padding-top: 3rem;
  }
}
.main__item {
  margin: 0 auto;
  padding: 0rem 0rem 1rem 0rem;
}
@media screen and (min-width: 768px) {
  .main__item {
    display: flex;
    flex-direction: column;
    padding: 0rem 1rem 2rem 1rem;
  }
}
@media screen and (min-width: 768px) {
  .main__item--info {
    display: flex;
  }
}
.main__list {
  list-style: none;
  border-bottom: 1px solid #afafaf;
  width: 100%;
  padding: 0rem 1rem 1rem 1rem;
}
@media screen and (min-width: 768px) {
  .main__list {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .main__list--hover:hover {
    background-color: #fafafa;
  }
}
@media screen and (min-width: 768px) {
  .main__list--hover.active {
    background-color: #e1e1e1;
  }
}
.main__list--title {
  display: none;
}
@media screen and (min-width: 768px) {
  .main__list--title {
    display: flex;
    border: 0;
    color: #afafaf;
    font-weight: 400;
    text-transform: uppercase;
    padding: 1rem 2rem 0rem 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .main__list--title {
    padding-top: 1rem;
  }
}
.main__list--dummy {
  display: none;
}
@media screen and (min-width: 768px) {
  .main__list--dummy {
    display: flex;
    width: 20%;
  }
}
.main__list--sub-title {
  font-size: 0.625rem;
  font-weight: 600;
  color: #afafaf;
  text-transform: uppercase;
  padding-top: 1rem;
  margin-top: 0;
}
@media screen and (min-width: 768px) {
  .main__list--sub-title {
    display: none;
  }
}
.main__list--date {
  margin: 0;
  font-size: 0.8125rem;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .main__list--date {
    width: 20%;
    font-size: 0.875rem;
  }
}
.main__list--venue {
  margin: 0;
  font-size: 0.8125rem;
  font-weight: 600;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .main__list--venue {
    width: 20%;
    font-size: 0.875rem;
  }
}
.main__list--location {
  margin: 0;
  font-size: 0.8125rem;
  font-weight: 600;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .main__list--location {
    padding-bottom: 0;
    width: 20%;
    font-size: 0.875rem;
  }
}
.main__list--button {
  background-color: #323232;
  border: none;
  border-radius: 0.25rem;
  width: 100%;
  padding: 0.6rem 2rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.25rem;
  cursor: pointer;
  color: white;
}
@media screen and (min-width: 768px) {
  .main__list--button {
    width: 20%;
    padding: 0.5rem 1.5rem;
  }
}

.footer {
  background-color: #323232;
  color: white;
  padding: 2rem 1rem 1rem 1rem;
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 3rem 2rem 2rem 2rem;
    position: relative;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    padding: 4rem 2rem 2rem 8rem;
  }
}
.footer__intro {
  font-size: 1.5rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .footer__intro {
    font-size: 2.25rem;
    display: flex;
    align-items: center;
    gap: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__intro {
    gap: 4rem;
  }
}
.footer__title {
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .footer__title {
    padding: 0;
  }
}
.footer__icons {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  width: 8rem;
}
.footer__img {
  height: 1.5rem;
}
@media screen and (min-width: 768px) {
  .footer__outro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
  }
}
@media screen and (min-width: 1280px) {
  .footer__outro {
    width: 70%;
  }
}
.footer__list {
  padding-top: 2rem;
}
@media screen and (min-width: 1280px) {
  .footer__list {
    padding-top: 3rem;
  }
}
.footer__items {
  font-size: 0.8125rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .footer__items {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__items {
    font-size: 1rem;
  }
}
.footer__items--bold {
  font-weight: 600;
}
.footer__items--info {
  padding-top: 1rem;
}
@media screen and (min-width: 1280px) {
  .footer__items--info {
    padding-top: 2rem;
  }
}
.footer__items--email {
  padding-top: 1rem;
}
@media screen and (min-width: 1280px) {
  .footer__items--email {
    padding-top: 2rem;
  }
}
.footer__logo {
  padding-top: 3.5rem;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    padding: 0;
    position: absolute;
    top: 3.75rem;
    right: 2.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__logo {
    top: 4.75rem;
    right: 8rem;
  }
}
.footer__description {
  font-size: 0.7rem;
  padding-top: 1rem;
}
@media screen and (min-width: 768px) {
  .footer__description {
    font-size: 0.85rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__description {
    font-size: 1rem;
    padding: 2rem 0rem 1rem 0rem;
  }
}/*# sourceMappingURL=shows.css.map */