@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Demi.woff") format("woff"), url("../assets/fonts/AvenirNextLTPro-Demi.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Regular.woff") format("woff"), url("../assets/fonts/AvenirNextLTPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Bold.woff") format("woff"), url("../assets/fonts/AvenirNextLTPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
* {
  box-sizing: border-box;
}

body {
  font-family: AvenirNext LT Pro;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

.site-header {
  background-color: #323232;
  width: 100%;
}
.site-header__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .site-header__wrapper {
    flex-direction: row;
    gap: 4rem;
  }
}

.logo {
  padding-top: 1rem;
  display: inline-block;
}
.logo__img {
  max-width: 7.5rem;
  max-height: 1.25rem;
}
@media screen and (min-width: 768px) {
  .logo {
    padding: 0;
    padding-left: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .logo {
    padding-left: 8rem;
  }
}

.primary-nav {
  width: 100%;
}
.primary-nav__list {
  display: flex;
  padding: 0;
  margin: 0;
  width: 100%;
  list-style: none;
  font-size: 0.875rem;
}
@media screen and (min-width: 768px) {
  .primary-nav__list {
    gap: 2rem;
  }
}
.primary-nav__item {
  width: 50%;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .primary-nav__item {
    width: 5rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .primary-nav__item {
    padding-bottom: 1rem;
    padding-top: 2rem;
  }
}
.primary-nav__item--current {
  border-bottom: 0.15rem solid white;
}
@media screen and (min-width: 768px) {
  .primary-nav__item--current {
    width: -moz-fit-content;
    width: fit-content;
  }
}
.primary-nav__link {
  color: #E1E1E1;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-decoration: none;
  display: inline-block;
}
.primary-nav__link--current {
  color: white;
  font-weight: 600;
}

.banner {
  background-image: url(../assets/images/hero-shows.jpg);
  background-color: rgba(0, 0, 0, 0.473);
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 35vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 2rem;
  width: 100%;
  margin: 0 auto;
  aspect-ratio: 16/9;
}
@media screen and (min-width: 768px) {
  .banner {
    height: 61vh;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1280px) {
  .banner {
    height: 78vh;
    flex-wrap: nowrap;
  }
}
.banner__header {
  color: white;
  padding-left: 1rem;
}
.banner__header--desp2 {
  font-size: 0.875rem;
  font-weight: 400;
  padding-top: 1rem;
}
@media screen and (min-width: 768px) {
  .banner__header--desp2 {
    padding-left: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
  }
}
@media screen and (min-width: 1280px) {
  .banner__header--desp2 {
    padding-left: 6rem;
  }
}
.banner__header--desp1 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  width: 70%;
}
@media screen and (min-width: 768px) {
  .banner__header--desp1 {
    width: 80%;
    font-size: 3.75rem;
    line-height: 4.25rem;
    padding-left: 1rem;
    margin: 0;
  }
}
@media screen and (min-width: 1280px) {
  .banner__header--desp1 {
    font-size: 4rem;
    padding-left: 6rem;
    width: 90%;
    padding-bottom: 5.5rem;
  }
}
.banner__audio {
  width: 100%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  height: 6rem;
}
@media screen and (min-width: 768px) {
  .banner__audio {
    padding: 0;
    width: 75%;
    padding-left: 1rem;
    height: 8rem;
  }
}
@media screen and (min-width: 1280px) {
  .main {
    display: flex;
  }
}
.main__title {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: capitalize;
  padding-top: 2rem;
  padding-left: 1rem;
  padding-bottom: 0.75rem;
}
@media screen and (min-width: 768px) {
  .main__title {
    padding-left: 2rem;
    font-size: 2.25rem;
    padding-top: 3rem;
  }
}
@media screen and (min-width: 1280px) {
  .main__title {
    width: 20%;
  }
}
@media screen and (min-width: 1280px) {
  .main__box {
    width: 75%;
    padding-top: 3rem;
  }
}
.main__item {
  padding: 0;
  margin: 0 auto;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .main__item {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
  }
}
.main__item--list {
  list-style: none;
  border-bottom: 1px solid silver;
  width: 100%;
  padding-left: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
}
@media screen and (min-width: 768px) {
  .main__item--list {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .main__item--info {
    display: flex;
  }
}
.main__item--sub-title {
  font-size: 0.625rem;
  font-weight: 600;
  color: silver;
  text-transform: uppercase;
  padding-top: 1rem;
  margin-top: 0;
}
@media screen and (min-width: 768px) {
  .main__item--sub-title {
    display: none;
  }
}
.main__item--date {
  margin: 0;
  font-size: 0.8125rem;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .main__item--date {
    width: 20%;
  }
}
.main__item--venue {
  margin: 0;
  font-size: 0.8125rem;
  font-weight: 600;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .main__item--venue {
    width: 20%;
  }
}
.main__item--location {
  margin: 0;
  font-size: 0.8125rem;
  font-weight: 600;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .main__item--location {
    padding-bottom: 0;
    width: 20%;
  }
}
.main__item--button {
  background-color: #323232;
  border: none;
  border-radius: 0.25rem;
  width: 100%;
  padding: 0.6rem 2rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.25rem;
  cursor: pointer;
  color: white;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
}
@media screen and (min-width: 768px) {
  .main__item--button {
    width: 20%;
    padding: 0.5rem 1.5rem;
  }
}
.main__item--title {
  display: none;
}
@media screen and (min-width: 768px) {
  .main__item--title {
    display: flex;
    border: 0;
    color: silver;
    font-weight: 400;
    text-transform: uppercase;
    padding-top: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .main__item--title {
    padding-top: 1rem;
  }
}
.main__item--dummy {
  display: none;
}
@media screen and (min-width: 768px) {
  .main__item--dummy {
    display: flex;
    width: 20%;
  }
}

.footer {
  background-color: #323232;
  color: white;
  padding: 1rem;
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 2rem;
    padding-top: 3rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    padding-left: 8rem;
    padding-top: 4rem;
  }
}
.footer__intro {
  font-size: 1.5rem;
  font-weight: 600;
}
.footer__intro--title {
  padding-bottom: 1rem;
  padding-top: 1rem;
}
@media screen and (min-width: 768px) {
  .footer__intro--title {
    padding: 0;
  }
}
@media screen and (min-width: 768px) {
  .footer__intro {
    font-size: 2.25rem;
    display: flex;
    align-items: center;
    gap: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__intro {
    gap: 4rem;
  }
}
.footer__icons {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  width: 8rem;
  height: 1.5rem;
}
@media screen and (min-width: 768px) {
  .footer__outro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
  }
}
@media screen and (min-width: 1280px) {
  .footer__outro {
    width: 70%;
  }
}
.footer__outro--list {
  padding-top: 2rem;
}
@media screen and (min-width: 1280px) {
  .footer__outro--list {
    padding-top: 3rem;
  }
}
.footer__outro--items {
  font-size: 0.8125rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .footer__outro--items {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__outro--items {
    font-size: 1rem;
  }
}
.footer__outro--bold {
  font-weight: 600;
}
.footer__outro--info {
  padding-top: 1rem;
}
@media screen and (min-width: 1280px) {
  .footer__outro--info {
    padding-top: 2rem;
  }
}
.footer__outro--email {
  padding-top: 1rem;
}
@media screen and (min-width: 1280px) {
  .footer__outro--email {
    padding-top: 2rem;
  }
}
.footer__logo {
  padding-top: 3.5rem;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    padding: 0;
    position: relative;
    bottom: 12rem;
    left: 36.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__logo {
    bottom: 15rem;
    left: 56.75rem;
  }
}
.footer__description {
  font-size: 0.7rem;
  padding-top: 1rem;
}
@media screen and (min-width: 768px) {
  .footer__description {
    font-size: 0.85rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__description {
    padding-top: 2rem;
    font-size: 1rem;
    padding-bottom: 1rem;
  }
}/*# sourceMappingURL=shows.css.map */