@use 'partials/variables' as *;
@use 'partials/mixins' as *;
@use 'partials/fonts' as *;

* {
    box-sizing: border-box;
}

body {
    
    font-family: AvenirNext LT Pro;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    
}

// site-header

.header{
    background-color: $primary-color;
    width: 100%;

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;

        @include tablet {
            flex-direction: row;
            gap: 4rem;
        }
    }

    &__nav {
        width: 100%;
    }

    &__list {
        display: flex;
        padding: 0;
        margin: 0;
        width: 100%;
        list-style: none;
        font-size: 0.875rem;      

        @include tablet {
            gap: 2rem;            
        }
    }

    &__item {
        width: 50%;
        text-align: center;

        @include tablet {
            width: 5rem;
            @include padding (1rem,0rem,1rem,0rem);

        }

        @include desktop {
            @include padding (1.5rem,0rem,1.5rem,0rem);
        }
        

        &--current {
            border-bottom: .15rem solid white; 
            
            @include tablet {
                width: fit-content;
            }           
        }
    }

    &__link {
        color: $secondary-color;
        text-decoration: none;
        display: inline-block;     
        @include padding (0.5rem,0rem,0.5rem,0rem);
        
        &--current {
            color: white;
            font-weight: 600;            
        }
    } 
   
    
}

// logo

.logo {
    padding-top: 1rem;
    display: inline-block;
    

    &__img {
        max-width: 7.5rem;
        max-height: 1.25rem;        
    }
    

    @include tablet {
        @include padding (0rem,0rem,0rem,2rem);
        
    }

    @include desktop{
        @include padding (0rem,0rem,0rem,8rem);
    }

}


// banner

.banner {
    
    background-image: url(../assets/images/hero-shows.jpg); 
    @include background;  
    display: flex;
    align-items: center;
    justify-content: flex-start ;
    flex-wrap: wrap;
    padding-bottom: 2rem;

    @include tablet {
        flex-direction: row;
        height: 60vh;
        
    }
    
    @include desktop {
        height: 80vh;
        flex-wrap: nowrap;
        
    }

    

    &__header{
        color: white;
        padding-left: 1rem;

       &--desp2{
        font-size: 0.875rem;
        font-weight: 400;
        padding-top: 1.25rem;

        @include tablet {
            padding-left: 1rem;
            font-size: 1.5rem;
            font-weight: 600;
        }

        @include desktop {
            padding-left: 6rem;
        }

       }

        &--desp1 {
            
            font-size: 1.5rem;
            line-height: 2rem;
            font-weight: 600;
            width: 70%;
    
            @include tablet {
                width: 80%;
                font-size: 3.75rem;
                line-height: 4.25rem;
                padding-left: 1rem;
                margin: 0;
                

            }
    
            @include desktop {
                font-size: 4rem;
                width: 90%;
                @include padding (0rem,0rem,5.5rem,6rem);
            }
        }
    } 

    &__audio {
        width: 100%;
        height: 5.75rem;
        @include padding (0rem,0.5rem,0rem,0.5rem);

        @include tablet {
            width: 75%;
            height: 8rem;
            @include padding (0rem,0rem,0rem,1rem);
        }

        
    }
}

//Main body

.main {

    @include desktop {
        display: flex;
    }


    &__title {
        font-size: 1.5rem;
        font-weight: 600;
        text-transform: capitalize;
        @include padding (1rem,0rem,0.75rem,1rem);

        @include tablet {
            font-size: 2.25rem;
            @include padding (3rem,0rem,0.75rem,2rem);            
        }

        @include desktop {
           width: 20%;
        }
    }

    &__container {
        
        @include desktop {
            width: 75%;
            padding-top: 3rem;
        }
    }

    &__item {

        margin: 0 auto;
        @include padding (0rem,0rem,1rem,0rem);

        @include tablet {
            display: flex;
            flex-direction: column;
            @include padding (0rem,1rem,2rem,1rem);
        }

        &--info {
            @include tablet {
                display: flex;
                
            }
        }
    }

    &__list {
        list-style: none;
        border-bottom: 1px solid $primary2-color;
        width: 100%;
        @include padding (0rem,1rem,1rem,1rem);

        @include tablet {
            display: flex;
            justify-content: space-between;
            padding-top: 1rem;
            align-items: center;
        }
        
        &--hover:hover {
        
            @include tablet {
                background-color: #fafafa;
            }
        }

        &--hover.active {
            @include tablet {
                background-color: $secondary-color;
            }
        }

        &--title {

            display: none;

            @include tablet {
                display: flex;
                border: 0;
                color: $primary2-color;
                font-weight: 400;
                text-transform: uppercase;
                @include padding (1rem,2rem,0rem,2rem);
                
            }

            
            @include desktop {
                padding-top: 1rem;
            }

           
        }

        &--dummy {
            display: none;

            @include tablet {
                display: flex;
                width: 20%;
            }
            
        }

        &--sub-title {
            font-size: 0.625rem;
            font-weight:600;
            color: $primary2-color;
            text-transform: uppercase;
            padding-top: 1rem;
            margin-top: 0;

            @include tablet {
                display: none;
            }

        }

        &--date {
            margin: 0;
            font-size: 0.8125rem;
            font-weight: 700;

            @include tablet {
                width: 20%;
                font-size: 0.875rem;
            }
            
        }

        &--venue {
            margin: 0;
            font-size: 0.8125rem;
            font-weight: 600;
            text-align: left;

            @include tablet {
                width: 20%;
                font-size: 0.875rem;
            }
        }

        &--location {
            margin: 0;
            font-size: 0.8125rem;
            font-weight: 600;
            padding-bottom: 1rem;

            @include tablet {
                padding-bottom: 0;
                width: 20%;
                font-size: 0.875rem;
            }
        }

        &--button {

            @include showButton; 

            @include tablet {
                width: 20%;
                padding: 0.5rem 1.5rem;
            }

        }
    }
}


// footer 

.footer {
    background-color: $primary-color;
    color: white;
    @include padding (2rem,1rem,1rem,1rem);

    @include tablet {
        @include padding (3rem,2rem,2rem,2rem);
    }

    @include desktop {
        @include padding (4rem,2rem,2rem,8rem);
    }

    &__intro {
        font-size: 1.5rem; 
        font-weight: 600;

        @include tablet {
            font-size: 2.25rem;
            display: flex;
            align-items: center;
            gap: 2rem;
        }

        @include desktop {
            gap: 4rem;
        } 
    }

    &__title {
        padding-bottom: 1rem;

        @include tablet {
            padding: 0;
        }
    }

    &__icons {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        width: 8rem;
        
    }


    &__img {
        
        height: 1.5rem;
    }

    &__outro{

        @include tablet {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 95%;
        }

        @include desktop {
            width: 70%;
        }

    }
    

    &__list {
        padding-top: 2rem;

        @include desktop {
                padding-top: 3rem;
        }
    }

    &__items {
        font-size: 0.8125rem;
        font-weight: 400;
        margin: 0;
        padding: 0;

        @include tablet {
            font-size: 0.875rem;
            line-height: 1.25rem;
        }

        @include desktop {
            font-size: 1rem;
        }

        &--bold {
            font-weight: 600;
            
        }

        &--info {
            padding-top: 1rem;

            @include desktop {
                padding-top: 2rem;
            }
        }

        &--email {
            padding-top: 1rem;

            @include desktop {
                padding-top: 2rem;
            }
        }   
    } 

    &__logo {
        padding-top: 3.5rem;

        @include tablet {
            padding: 0;
            position: relative;
            bottom: 12rem;
            left: 36.5rem;
        }

        @include desktop {
            bottom: 15rem;
            left: 56.75rem;
        }
    }

    &__description {
        font-size: .7rem;
        padding-top: 1rem;

        @include tablet {
            font-size: 0.85rem;
        }

        @include desktop {
            font-size: 1rem;
            @include padding (2rem,0rem,1rem,0rem);
        }
    }
}



